body{
  background-image: url('/src/img/tridimensional1.jpg');
 

  
  
}

.Container {
  width: 80%;
  margin: auto;

  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #0c0c0c;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(rgb(255, 2, 2), rgb(1, 39, 253), rgb(248, 0, 0));
}
